<div style="width: 1440px; height: 1024px; position: relative; background: rgba(253.94, 253.94, 253.94, 0.63)">
    <img style="width: 45px; height: 68px; left: 1311px; top: 48px; position: absolute" src="https://via.placeholder.com/45x68" />
    <div style="width: 1200px; height: 764px; left: 120px; top: 150px; position: absolute; background: #D9D9D9; border-radius: 25px"></div>
    <div style="width: 901px; height: 105px; left: 269px; top: 269px; position: absolute; background: #F1F3F4; border-radius: 22px"></div>
    <div style="width: 901px; height: 105px; left: 270px; top: 397px; position: absolute; background: #F1F3F4; border-radius: 22px"></div>
    <div style="width: 901px; height: 105px; left: 270px; top: 525px; position: absolute; background: #37ABE4; border-radius: 22px"></div>
    <div style="width: 157px; height: 77px; left: 690px; top: 553px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">로그인</div>
    <div style="width: 157px; height: 77px; left: 300px; top: 297px; position: absolute; color: rgba(0, 0, 0, 0.18); font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">아이디</div>
    <div style="width: 157px; height: 77px; left: 300px; top: 425px; position: absolute; color: rgba(0, 0, 0, 0.18); font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">패스워드</div>
    <div style="left: 287px; top: 798px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">아이디 찾기</div>
    <div style="left: 630px; top: 798px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">비밀번호 찾기</div>
    <div style="left: 1005px; top: 798px; position: absolute; color: black; font-size: 40px; font-family: Inter; font-weight: 700; word-wrap: break-word">회원가입</div>
    <div style="width: 113px; height: 111px; left: 463px; top: 660px; position: absolute">
      <div style="width: 113px; height: 111px; left: 0px; top: 0px; position: absolute; background: #FEE500; border-radius: 9999px"></div>
      <div style="width: 63.55px; height: 57.71px; left: 24.91px; top: 26.79px; position: absolute">
        <div style="width: 63.55px; height: 57.71px; left: 0px; top: 0px; position: absolute; background: #392020"></div>
        <div style="width: 14.24px; height: 16.76px; left: 5.77px; top: 17.60px; position: absolute; background: #FEE500"></div>
        <div style="width: 14.55px; height: 17.06px; left: 15.92px; top: 17.31px; position: absolute; background: #FEE500"></div>
        <div style="width: 11.71px; height: 16.76px; left: 30.98px; top: 17.31px; position: absolute; background: #FEE500"></div>
        <div style="width: 13.41px; height: 16.94px; left: 42.94px; top: 17.31px; position: absolute; background: #FEE500"></div>
      </div>
    </div>
    <div style="width: 106px; height: 106px; left: 922px; top: 660px; position: absolute; background: white; border-radius: 9999px"></div>
    <div style="width: 66px; height: 66px; left: 942px; top: 679px; position: absolute">
      <div style="width: 32.33px; height: 31.02px; left: 33.67px; top: 27px; position: absolute; background: #4285F4"></div>
      <div style="width: 52.35px; height: 26.72px; left: 3.61px; top: 39.28px; position: absolute; background: #34A853"></div>
      <div style="width: 14.82px; height: 29.58px; left: 0px; top: 18.21px; position: absolute; background: #FBBC05"></div>
      <div style="width: 52.59px; height: 26.73px; left: 3.61px; top: 0px; position: absolute; background: #EA4335"></div>
    </div>
    <img style="width: 108px; height: 106px; left: 695px; top: 660px; position: absolute" src="https://via.placeholder.com/108x106" />
    <div style="left: 561px; top: 190px; position: absolute; color: black; font-size: 48px; font-family: Roboto; font-weight: 400; letter-spacing: 0.25px; word-wrap: break-word">사이트이름 로그인</div>
  </div>